@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --background: #efefef;
  --text-primary: #2a2a2a;
  --text-secondary: #ffffff;
  --light-grey: #ced0ce;
  --dark-grey: #6e6e6e;
  --brand-color: #ef5241;
}

/* [data-theme='dark'] {
  --background: #2a2a2a;
  --text-primary: #f0f0f0;
  --text-secondary: #ced0ce;
  --brand-color: #ef5241;
} */

body {
  min-height: 100vh;
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  max-width: 100rem;
  margin: auto;
}

.primary-btn {
  font-size: 16px;
  background: var(--brand-color);
  color: var(--text-secondary);
  border: 1px solid var(--brand-color);
  padding: 8px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.primary-btn:hover {
  -webkit-box-shadow: 0px 1px 8px 3px var(--brand-color);
  -moz-box-shadow: 0px 1px 8px 3px var(--brand-color);
  box-shadow: 0px 1px 8px 3px var(--brand-color);
}

.secondary-btn {
  font-size: 16px;
  background: transparent;
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
  padding: 8px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.secondary-btn:hover {
  background: var(--brand-color);
  color: var(--text-secondary);
  -webkit-box-shadow: 0px 1px 2px 1px var(--brand-color);
  -moz-box-shadow: 0px 1px 2px 1px var(--brand-color);
  box-shadow: 0px 1px 2px 1px var(--brand-color);
}

@media (max-width: 1050px) {
  .app {
    width: 85%;
  }
}

@media (max-width: 750px) {
  .app {
    width: 90%;
  }
}